* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Header all classes are here */



header {
    width: 100%;
    height: 100vh;
    border: 1px solid rgb(9, 183, 252);
    background-size: cover;
    background-image: url("./banner/banner3.png");
}

.header-article {
    width: 422px;
height: 348px;
margin-left: 55%;
    margin-top: 9rem;
}

.header-article h1 {
    text-shadow: 1px 1px 15px rgb(6, 148, 249);
    color: rgb(244, 245, 245);
    font-size: 300%;
    font-weight: 800;
    text-align: right;
    padding-right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-article p {

    text-align: right;
    padding-right: 20px;
    color: rgba(227, 241, 245, 0.977);
    margin-top: 28px;
    font-weight: 700;
    line-height: 22px;
    font-size: 16px;
}

.button-header {
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: rgb(213, 246, 26);
    box-shadow: 0px 0px 8px rgba(13, 206, 241, 0.988);
    cursor: pointer;
    border-left: 4px solid rgb(76, 4, 244);
    border-right: 4px solid rgb(76, 4, 244);
    padding-right: 20px;
    margin-left: 263px;
    margin-top: 20px;
    font-weight: 600;
    color: rgba(39, 38, 37, 0.999);
}

.fa-phone-flip {
    margin-left: 3px;
}

.butto-header:hover {
    background-color: coral;
    color: rgb(14, 14, 14);
    box-shadow: 0px 0px 10px rgba(241, 138, 13, 0.988);
}


/*Header all classes are finished */



/*section (part one) starts from here.. */
.section-part-one {
    width: 100%;
    height: 100vh;
    display: flex;

    margin-top: 20px;
    justify-content: center;
    align-items: center;
  
   background-size: 60%;
}

.section-part-one-image {
    width: 50%;
    height: 450px;
  
    background-image: url("./banner/gradient.png");
    background-position:bottom left;
background-repeat: no-repeat;
    background-size: contain;
}

.section-part-one-image img {
    height: 450px;
    margin-left: 140px;

}

.section-part-one-article {
    
    width: 50%;
    height: 450px;
    background-image: url("./banner/warning-sign.png");
    background-position: 130% 80%;
    background-repeat: no-repeat;
    background-size:60%;
}

.section-part-one-article h2 {
    background-color: rgb(152, 48, 249);
    padding: 8px;
    border-radius: 12px;
    margin-right: 250px;
    margin-bottom: 20px;
    font-size: 35px;
    margin-top: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.section-part-one-article p {
    margin-right: 200px;
    margin-bottom: 8px;
    font-size: 15px;
    text-indent: 35px;

    line-height: 22px;
    color: rgb(50, 49, 49);
}

.section-part-one-article ul {
    color: rgb(89, 89, 88);
    list-style-type: none;
    margin-left: 20px;
    line-height: 35px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.section-part-one-article ul li:hover {
    color: black;
}

.section-part-one-article ul i {
    color: rgba(32, 164, 3, 0.867);
    margin-right: 10px;
}

.section-part-one-article ul li:hover .fa-circle-check {
    color: rgb(42, 8, 211);
}


/*2nd section part (stars) */


.section-two {
    width: 100%;
    height: min-content;

}

.section-two h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    color:seagreen;
text-decoration:overline;

}


.my-plan-items {
    width: 887px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    align-items: center;

}

.items {

    width: 300px;
    height: 250px;
    margin-top: 25px;
    text-align: center;
   border:2px solid seagreen;
    border-radius: 30px;
    margin-left: 12px;
}

.items img {
    margin-top: 2rem;
}

.items h3 {
    margin-top: 1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: seagreen;
    color: aliceblue;
}

.items p {
    margin-top: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.banner-image {
    border-radius: 12px;
    border-left: 10px solid rgb(236, 53, 25);
    width: 887px;
    height: 190px;
    margin: auto;
    margin-top: 80px;
    background-image:
        linear-gradient(242deg, rgba(249, 251, 254, 0) 0%, rgba(18, 90, 244, 0.806) 100%),
        url("./banner/watch.png");
}

.banner-image h2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 480px;
    color: aliceblue;
    margin-left: 50px;
    padding-top: 35px;

}

.banner-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 1rem;
    color: rgba(28, 57, 242, 0.897);
    font-weight: 700;
    cursor: pointer;
    border-bottom: 5px solid rgb(236, 53, 25);
}
/*2nd section part (End) */

/*3rd section part  (starts) */



.section-part-three{
    width:1000px ;
    height:500px ;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top:75px;
    background-size: cover;
    background-image: url("./banner/tea.png");
    border-left: 6px solid coral;
    border-right: 6px solid coral;
}
.first-postion-article{
    width:400px ;
    height:400px ;
     
}
.first-postion-article h3{
    margin-top: 40px;
    margin-left: 5px;
}
.first-position-nested{
    width:400px ;
    height:200px ;
 
    margin-top: 90px;
}
.first-position-nested h2{
    font-size: 50px;
  margin-left: 20px;
    font-weight:bolder;
    letter-spacing:3px;
    
}
.first-position-nested button{
    padding: 12px 40px;
border-radius: 50px;
border: none;
font-size: 15px;
background-color: rgb(246, 93, 4);
color:rgb(3, 3, 3);
margin-top: 40px;
margin-left: 10px;
cursor: pointer;
}
.first-position-nested button:active{
    border-bottom: 5px solid black;
}
.second-postion-image{
    width:400px ;
    height:400px ;
     
}
.second-postion-image img{
    width:350px;
   margin-left: 50px;
   margin-top: 50px;
}

.fa-cart-shopping{
    margin-right: 5px;
}























/*3rd section part  (End) */


/*Footer part (stars) */
 

.footer-part{
    width:100%;
   background-image: url("./banner/deep1.png");
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
background-color: rgba(142, 21, 3, 0.948);
    margin-top: 65px;
}
.footer-part-one{
padding-left: 120px;
width:50%;
height:450px;
color: aliceblue;

}



.footer-part-one i{
   font-size:35px;
   margin-right: 20px;
   margin-top: 30px;
}
.footer-part-one h3{
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    margin-top: 50px;
    color:rgb(254, 115, 64);
}
.footer-part-paragraph{
   margin-top: 30px;
    font-size: 15px;
    margin-right: 60px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
  
     
}
.footer-part-2nd-paragraph{
line-height: 50px;
font-weight: 800;
   color:coral;
 
}
.footer-part-one em{
    color:coral;
    font-weight: 600;
}
.fa-facebook{
    color: rgb(5, 133, 238);
}
.fa-twitter{
    color: rgb(29 161 242);
}
.fa-youtube{
    color: red;
}
.footer-part-two{
    width:50%;
    height:450px;

    padding-left:150px;
    
}
.footer-part-two h2{
font-size: 35px;
color: coral;
letter-spacing: 3px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 60px;
}
.footer-part-two input{
border-radius: 5px;
width: 220px;
height: 45px;
margin-top: 15px;
padding-left: 15px;
border: none;

}
.footer-part-two input:focus{
    border: none;
    outline: none;
}
.footer-button{
padding: 16px 35px;
border-radius: 5px;
border: none;
margin-top: 15px;
background-color:coral;
font-weight: 600;
cursor: pointer;
}

/*Footer part (ends) */